QPushButton {
  font-family: Alef;
  border-width: 2px;
  border-color: #858585;
  border-style: solid;
  border-radius: 2px;
  background-color: #858585;
  color: white;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 50px;
  min-height: 15px;
}

QPushButton:hover:!pressed {
  background-color: #C9C9C9;
}

QPushButton:pressed {
  background-color: white;
}
